
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAuth() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuth() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin';
    }
    
    function isDirector() {
      return isAuth() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Director';
    }
    
    function isViewer() {
        return isAuth() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Viewer';
    }

    function isOwner(resourceId) {
      return request.auth.uid == resourceId;
    }
    
    match /users/{userId} {
      allow read: if isAuth() && (isOwner(userId) || isAdmin());
      allow update: if isAuth() && (isOwner(userId) || isAdmin());
      // Only allow creation if the user is creating their own document
      allow create: if isAuth() && isOwner(userId);
    }
    
    match /leads/{leadId} {
        allow read, write: if isAuth() && 
          (
            resource.data.ownerId == request.auth.uid || 
            resource.data.structureTeamMemberId == request.auth.uid ||
            isAdmin() ||
            isDirector() ||
            isViewer()
           );
        allow create: if isAuth(); // Any authenticated user can create a lead
        allow delete: if isAdmin();
    }

    match /tasks/{taskId} {
        allow read, write: if isAuth() && resource.data.assigneeId == request.auth.uid;
        allow create: if isAuth(); // User can create tasks for themselves or others
        allow delete: if isAuth() && (resource.data.createdBy == request.auth.uid || isAdmin());
    }
    
    match /conversations/{conversationId} {
        allow read, write: if isAuth() && request.auth.uid in resource.data.participants;

        match /messages/{messageId} {
            allow read, create: if isAuth() && request.auth.uid in get(/databases/$(database)/documents/conversations/$(conversationId)).data.participants;
        }
    }

    match /settings/branding {
        allow read: if true; // Branding logo is public
        allow write: if isAdmin();
    }
  }
}
